body {
    font-family: 'ssf4', Courier, monospace;
    background: var(--cor-secundaria);
}

.body.mostrar-menu::before {
    content: '';
    background-image: url(../../img/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 1.15s ease-in-out;
}

.body::before{
    content: '';
    background-image: url(../../img/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tela-inicial {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.tela-inicial .titulo {
    display: none;
    margin-top: -100px;
}

.tela-inicial .titulo img{
    width: 100%;
    height: 100%;
}

.tela-inicial .titulo.ativo {
    display: block;
}

.tela-inicial .start {
    font-family: 'command';
    display: none;
    cursor: default;
    animation: text-glowing-orange .3s ease-in-out infinite;
    animation-direction: alternate;
    font-size: 30px;
    transition: 0.15s ease-in-out;
    
}

.tela-inicial .start.click-na-tela {
    display: block;
    cursor: pointer;
}

.tela-inicial .start.click-na-tela.esconder-click {
    display: none;
    cursor: default;
}

.tela-inicial .menu .menu-principal {
    height: 100%;
}


.tela-inicial .menu .menu-principal .texto-menu {
    font-family: 'command';
    animation: text-glowing-orange .3s ease-in-out infinite;
    animation-direction: alternate;
    font-size: 60px;
    text-align: center;
    margin-top: 45px;
    transition: 0.15s ease-in-out;

}

.tela-inicial .menu .menu-principal.escolha-de-opcao .texto-menu.jogador2 a{
    opacity: 0.5;
    cursor: default;
}
.tela-inicial .menu .menu-principal .texto-menu a {
    display: none;
    transition: 0.15s ease-in-out;
    cursor: default;
    color: var(--cor-menu-principal);
}



.tela-inicial .menu .menu-principal .texto-menu a:hover{
    transform: scale(1.2);
}

.tela-inicial .menu .menu-principal.escolha-de-opcao .texto-menu.jogador2 a:hover{
    transform: scale(1);
}

.tela-inicial .menu .menu-principal.escolha-de-opcao .texto-menu a {
    display: block;
    cursor: pointer;
}

.tela-inicial .nome {
    cursor: default;
    display: none;
    font-family: 'command';
    color: var(--cor-azul-media);
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    font-size: 50px;
}
.tela-inicial .nome.mostrar{
    display: block;
    cursor: pointer;
}

.tela-inicial .voltar{
    cursor: default;
    display: none;
    font-family: 'command';
    animation: text-glowing-orange .3s ease-in-out infinite;
    animation-direction: alternate;
    color: var(--cor-menu-principal);
    font-size: 20px;
    margin-top: 20px;
}
.tela-inicial .voltar.mostrar{
    display: block;
    cursor: pointer;
}
